{{#partial "body"}}
<div class="container">
<h4>Eventos</h4>
<form>
<div class="form-group col-md-4">
      <label for="eventos">Sus eventos:</label>
      <select id="Eventos" name="Eventos" class="form-control">
        <option selected>Eventos...</option>
         {{#each eventosUsuario}}  
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
</div>


</form>
</div>
{{/partial}}
{{>layout.hbs}}